  
  <nav>
    {{!-- <div class="nav-wrapper #00897b teal darken-1"> --}}
    {{!-- <div class="nav-wrapper #263238 blue-grey darken-4"> --}}
      <div class="nav-wrapper #e0e0e0 grey lighten-2">
      <a href="#" class="brand-logo #d32f2f red-text text-darken-2">Sports Connect</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="#757575 grey-text text-darken-1 nav-tabs" href="/venues">Venues</a></li>
        <li><a class="#757575 grey-text text-darken-1 nav-tabs" href="/news">News</a></li>
        <li><a class="#757575 grey-text text-darken-1 nav-tabs"  href="collapsible.html">Login/SignUp</a></li>
      </ul>
    </div>
  </nav>

<div class="parallax-container">
  <div class="parallax">
    <img src="https://wallpapercave.com/wp/wp2567601.jpg"></img>
  </div>
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header center #fafafa grey-text text-lighten-5">Hello Stranger!</h2>
        <div class="row center">
          <h5 class="header left col s12 #fafafa grey-text text-lighten-5">What dou you want to play today</h5>
        </div>
        <div class="row center">
          <div class="row">
            <div class="col s4">
              <form>
              <input type="text"/>
            </form>
            <form>
              <input type="text"/>
            </form>
            </div>
          </div>
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light #eeeeee grey lighten-3 black-text">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
</div>
  

  <div class= "contianer">
    <div class="section">
      <div class="row">
        <div class="col s12 m4 ">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">event</i></h2>
            <h5 class="center">Create/Join Events</h2>
            <p class="center light">Create Join events you are interested in something something something something</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">trending_up</i></h2>
            <h5 class="center ">Latest News</h2>
            <p class="center light">Get all the latest news articles from whatever sports you want safnewofnjksd defnejrfn ednfejndksf fejnfdjknf</p>
          </div>
        </div>
        <div class="col s12 m4 ">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">directions</i></h2>
            <h5 class="center ">Venues</h2>
            <p class="center light">Get all the latest news articles from whatever sports you want safnewofnjksd defnejrfn ednfejndksf fejnfdjknf</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
//rearranged query - below the jquery and materialize library 
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>

