  
  <nav>
    {{!-- <div class="nav-wrapper #00897b teal darken-1"> --}}
    {{!-- <div class="nav-wrapper #263238 blue-grey darken-4"> --}}
      <div class="nav-wrapper #eeeeee grey lighten-3">
      <a href="#" class="brand-logo #212121 grey-text text-darken-4">Sports Connect</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="#212121 grey-text text-darken-4 nav-tabs" href="/venues">Venues</a></li>
        <li><a class="#212121 grey-text text-darken-4 nav-tabs" href="/news">News</a></li>
        <li><a class="#212121 grey-text text-darken-4 nav-tabs"  href="collapsible.html">Login/SignUp</a></li>
      </ul>
    </div>
  </nav>

<div class="parallax-container">
  <div class="parallax">
    <img src="https://wallpapercave.com/wp/wp3464442.jpg"></img>
  </div>
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center #fafafa grey-text text-lighten-5">SPORTS CONNECT</h1>
        <div class="row center">
          <h5 class="header col s12 #fafafa grey-text text-lighten-5">There are a few community-made options for you to easily include Materialize in your project. Keep in mind these are untested and may be out-of-date.</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light #eeeeee grey lighten-3 black-text">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
</div>
  

  <div class= "contianer">
    <div class="section">
      <div class="row">
        <div class="col s12 m4 ">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">event</i></h2>
            <h5 class="center">Create/Join Events</h2>
            <p class="center light">Create Join events you are interested in something something something something</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">trending_up</i></h2>
            <h5 class="center ">Latest News</h2>
            <p class="center light">Get all the latest news articles from whatever sports you want safnewofnjksd defnejrfn ednfejndksf fejnfdjknf</p>
          </div>
        </div>
        <div class="col s12 m4 ">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">directions</i></h2>
            <h5 class="center ">Venues</h2>
            <p class="center light">Get all the latest news articles from whatever sports you want safnewofnjksd defnejrfn ednfejndksf fejnfdjknf</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
//rearranged query - below the jquery and materialize library 
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>

